In [5]:
import pandas as pd
import os

def create_dataframe(directory_path):
    df = pd.DataFrame()
    for file_name in os.listdir(directory_path):
        file_data = pd.read_csv(os.path.join(directory_path, file_name))
        df[file_name] = file_data.price
    return df

df = create_dataframe('../../data/best_sub/')
mean_by_row = df.mean(axis=1)
predictions = mean_by_row

In [6]:
df

      target_encoding.csv  one_hot.csv     xgb.csv
0              105.231720   109.331039  105.934360
1              135.681281   129.738462  138.367300
2               69.415146    68.368351   70.414920
3               59.589127    58.108511   62.303165
4              199.315002   200.123597  206.382970
...                   ...          ...         ...
6639            80.231770    89.335545   82.757000
6640           263.944896   254.791942  267.557650
6641           156.718438   153.990327  158.001860
6642           178.275972   172.241022  178.633940
6643           156.718438   153.990327  158.001860

[6644 rows x 3 columns]

In [7]:
predictions

0       106.832373
1       134.595681
2        69.399472
3        60.000268
4       201.940523
           ...
6639     84.108105
6640    262.098162
6641    156.236875
6642    176.383645
6643    156.236875
Length: 6644, dtype: float64

In [8]:
# save
path = '../../data/' 

_round = True # tester aussi des arrondis au dessus ou en dessous

name = 'mean'

if _round : y_pred = np.round(predictions)
else : y_pred = predictions.copy()

sub = pd.DataFrame(y_pred)
sub.to_csv(path + 'submit/' + name + '.csv',index=True, header=['price'], index_label = 'index')