# Data preparation

In [25]:
import pandas as pd
import numpy as np

In [2]:
path = '../data/' 
hotels = pd.read_csv(path + '/features_hotels.csv')
data = pd.read_csv(path + 'data.csv')
data_test = pd.read_csv(path + 'test_set.csv')

In [3]:
to_exclude = data[['city', 'language','mobile','request_number','date']].drop_duplicates()
# to_exclude.to_csv('to_exclude.csv', index = False)
print('Nombre de requêtes uniques :', to_exclude.shape[0])

Nombre de requêtes uniques : 8329

In [4]:
tot = 0 
for i in range(7):
    tot += np.unique(data.loc[data.request_number == i].avatar_id.values).shape[0]

print('Estimation du nombre total de requêtes :', tot)

Estimation du nombre total de requêtes : 11171

In [5]:
# exclusion des avatar posant problème
# data = data.drop(index = data.loc[data.avatar_id == 134].index)
# to_drop = [108,134,135,136,137,138,141]
to_drop = [134]
data = data.loc[~data.avatar_id.isin(to_drop)]

In [6]:
data = data.drop(['avatar_id'], axis = 1).drop_duplicates()

In [7]:
# ajout des caractéristiques des hotels
data = data.merge(hotels, on=['hotel_id','city'])
data_test = data_test.merge(hotels, on=['hotel_id','city'])
data_test = data_test.sort_values('index').reset_index(drop=True).drop(['index'], axis = 1)

In [8]:
# création de la colonne request_number dans le test set
data_test['request_number'] = 1
for avatar in np.unique(data_test['avatar_id']):
    data_test.loc[data_test['avatar_id'] == avatar, 'request_number'] = data_test['order_requests'].loc[data_test['avatar_id']== avatar] - min(data_test['order_requests'].loc[data_test['avatar_id']== avatar])+1

In [9]:
# ajout de la variable ville == langue
lang_cit = True

if lang_cit == True: 
    dic_lang = {'amsterdam':'dutch', 'copenhagen':'danish', 'madrid':'spanish', 'paris':'french', 'rome':'italian', 'sofia':'bulgarian', 'valletta':'maltese', 'vienna':'austrian' ,'vilnius':'lithuanian'}
    data['city_language'] = data['city'].map(dic_lang)
    data['is_same_cl'] = data['city_language']==data['language']
    data_test['city_language'] = data_test['city'].map(dic_lang)
    data_test['is_same_cl'] = data_test['city_language']==data_test['language']
#     colBool += ['is_same_cl']

In [10]:
col = ['city', 'date', 'language', 'mobile', 'request_number', 'stock', 'group', 'brand', 'parking', 'pool','children_policy', 'is_same_cl', 'price']
data = data[col]
data_test = data_test[col[:-1]]

In [11]:
def additive_smoothing(x,alpha= 1.96):
    """ alpha = 1.96 borne à 95% pour la loi normale  """
    moy = (x+alpha).mean()
    d = x.max()-x.min()
    N = x.count()
    return N*moy/(N+alpha*d)

additive_smoothing.__name__ = 'additive_smoothing'

In [12]:
colQT = ['request_number', 'stock', 'date']
notQT = ['city', 'language', 'mobile', 'group', 'brand', 'parking', 'pool','children_policy', 'is_same_cl']

In [13]:
for i in notQT:
    df_tmp = data[[i, 'price']].groupby(i).agg({'price': ['mean', 'var', additive_smoothing]}).price
    df_tmp = df_tmp.add_suffix('_' + i)
    colQT += list(df_tmp.columns.unique())
    data = data.join(df_tmp, on=i)
    data_test = data_test.join(df_tmp, on=i)

In [14]:
colQT += ['price']

In [15]:
df = data[colQT[:-1]]
df_test = data_test[colQT[:-1]]
y = data[colQT[-1]]

In [16]:
X_train = df
X_test = df_test
Y_train = y
Y_test = None

In [ ]:
# pd.read_csv('test.csv')

# GBR

In [17]:
X_train

,request_number,stock,date,mean_city,var_city,additive_smoothing_city,mean_language,var_language,additive_smoothing_language,mean_mobile,...,additive_smoothing_parking,mean_pool,var_pool,additive_smoothing_pool,mean_children_policy,var_children_policy,additive_smoothing_children_policy,mean_is_same_cl,var_is_same_cl,additive_smoothing_is_same_cl
0,1,3,12,165.55173,5985.767282,166.516354,154.748637,5999.095160,150.843929,159.610475,...,162.905065,142.144634,4905.884746,143.917897,157.313797,6680.118848,159.092193,160.002779,6871.253349,161.778872
1,1,15,27,165.55173,5985.767282,166.516354,159.636337,6808.807107,158.623704,160.026551,...,162.905065,142.144634,4905.884746,143.917897,157.313797,6680.118848,159.092193,160.002779,6871.253349,161.778872
2,1,2,11,165.55173,5985.767282,166.516354,156.157476,6641.903925,155.367276,159.610475,...,162.905065,142.144634,4905.884746,143.917897,157.313797,6680.118848,159.092193,160.002779,6871.253349,161.778872
3,1,14,26,165.55173,5985.767282,166.516354,158.518461,6578.472846,154.689115,160.026551,...,162.905065,142.144634,4905.884746,143.917897,157.313797,6680.118848,159.092193,160.002779,6871.253349,161.778872
4,1,13,25,165.55173,5985.767282,166.516354,156.713749,6541.710854,152.944919,159.610475,...,162.905065,142.144634,4905.884746,143.917897,157.313797,6680.118848,159.092193,160.002779,6871.253349,161.778872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916700,1,84,39,165.55173,5985.767282,166.516354,164.508062,7283.720668,159.483584,159.610475,...,162.905065,142.144634,4905.884746,143.917897,157.313797,6680.118848,159.092193,160.002779,6871.253349,161.778872
916701,1,84,39,165.55173,5985.767282,166.516354,156.456098,6441.953525,153.253943,160.026551,...,162.905065,142.144634,4905.884746,143.917897,157.313797,6680.118848,159.092193,160.002779,6871.253349,161.778872
916702,1,110,44,165.55173,5985.767282,166.516354,165.404823,7131.140515,164.022882,160.026551,...,162.905065,142.144634,4905.884746,143.917897,157.313797,6680.118848,159.092193,160.002779,6871.253349,161.778872
916703,1,104,43,165.55173,5985.767282,166.516354,155.846236,6642.503216,152.507311,159.610475,...,162.905065,142.144634,4905.884746,143.917897,157.313797,6680.118848,159.092193,160.002779,6871.253349,161.778872
916704,1,110,44,165.55173,5985.767282,166.516354,159.243063,7040.080746,154.355552,159.610475,...,162.905065,142.144634,4905.884746,143.917897,157.313797,6680.118848,159.092193,160.002779,6871.253349,161.778872

In [19]:
from sklearn.ensemble import GradientBoostingRegressor

GBR = GradientBoostingRegressor()

GBR.set_params(learning_rate = .02,
               max_depth = 4,
               n_estimators = 5000,
               validation_fraction = .2,
               criterion = 'friedman_mse',
               subsample = .2,
               max_leaf_nodes = 50,
              max_features = 1.0,
              verbose = 1)

fit = GBR.fit(X_train,Y_train)

      Iter       Train Loss      OOB Improve   Remaining Time
         1        6625.9880         236.7315           28.62m
         2        6400.5810         227.8382           28.36m
         3        6127.9613         219.1769           28.62m
         4        5956.9103         210.7144           28.98m
         5        5818.9556         201.8372           28.97m
         6        5541.5158         194.1658           28.92m
         7        5405.4958         186.8154           28.78m
         8        5170.4459         179.7322           28.67m
         9        5002.3840         173.2711           28.72m
        10        4856.5649         165.7229           28.61m
        20        3495.3357         112.9255           28.75m
        30        2594.7882          76.7821           28.86m
        40        1971.0378          52.6011           28.87m
        50        1533.6797          36.2118           28.77m
        60        1235.7556          25.5393           28.69m
        70        1022.0440          17.7975           28.60m
        80         875.5105          12.3945           28.55m
        90         764.4347           8.9613           28.49m
       100         691.4269           6.8114           28.43m
       200         448.5014           0.6420           28.49m
       300         401.4840           0.3476           28.64m
       400         369.3998           0.0818           28.71m
       500         349.3344           0.0781           28.72m
       600         330.6951           0.0419           28.29m
       700         325.4093           0.0376           27.85m
       800         315.7877           0.0461           27.30m
       900         309.5770           0.0115           26.75m
      1000         302.2681           0.0397           26.14m
      2000         275.6128           0.0303           19.81m
      3000         262.1114           0.0105           13.26m
      4000         255.8997           0.0013            6.67m
      5000         251.9855           0.0129            0.00s

In [ ]:
# GBR.get_params().keys()

In [20]:
y_pred = fit.predict(X_test)

In [21]:
y_pred

array([105.2317202 , 135.68128139,  69.41514648, ..., 156.71843755,
       178.27597186, 156.71843755])

In [37]:
# from joblib import dump, load
# dump(GBR, 'model/target_encoding.pkl')

# Submit

In [22]:
predictions = y_pred

In [23]:
# save
_round = False # tester aussi des arrondis au dessus ou en dessous

name = 'target_encoding'

if _round : y_pred = np.round(predictions)
else : y_pred = predictions.copy()

sub = pd.DataFrame(y_pred)
sub.to_csv(path + 'submit/' + name + '.csv',index=True, header=['price'], index_label = 'index')