In [90]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="darkgrid")

In [91]:
hotels = pd.read_csv('features_hotels.csv')
test_set = pd.read_csv('test_set.csv')
test_set = test_set.merge(hotels, on=['hotel_id','city'])
N = len(test_set)

In [92]:
test_set.head()

,index,order_requests,city,date,language,mobile,avatar_id,hotel_id,stock,group,brand,parking,pool,children_policy
0,0,1,vilnius,21,romanian,0,1,161,46,Boss Western,J.Halliday Inn,1,0,0
1,9,2,vilnius,18,romanian,0,1,161,36,Boss Western,J.Halliday Inn,1,0,0
2,254,30,vilnius,20,romanian,1,12,161,44,Boss Western,J.Halliday Inn,1,0,0
3,263,31,vilnius,18,romanian,1,12,161,36,Boss Western,J.Halliday Inn,1,0,0
4,272,32,vilnius,16,bulgarian,0,12,161,30,Boss Western,J.Halliday Inn,1,0,0

In [93]:
def getProps(colname, length = N):
    return test_set[colname].value_counts()/N

In [94]:
proportions = {}
for i in test_set.columns:
    proportions[i] = getProps(i)

In [95]:
proportions

{'index': 2047    0.000151
 5408    0.000151
 3331    0.000151
 5384    0.000151
 1290    0.000151
           ...
 2628    0.000151
 581     0.000151
 4679    0.000151
 2636    0.000151
 0       0.000151
 Name: index, Length: 6644, dtype: float64,
 'order_requests': 437    0.002107
 405    0.002107
 703    0.002107
 113    0.002107
 302    0.002107
          ...
 786    0.000301
 740    0.000301
 713    0.000301
 717    0.000301
 61     0.000301
 Name: order_requests, Length: 844, dtype: float64,
 'city': amsterdam     0.170680
 paris         0.169326
 madrid        0.164660
 copenhagen    0.108820
 rome          0.108519
 vilnius       0.091662
 vienna        0.085491
 sofia         0.056291
 valletta      0.044551
 Name: city, dtype: float64,
 'date': 2     0.072848
 1     0.070289
 0     0.069837
 5     0.068934
 6     0.067730
 3     0.067580
 4     0.066677
 16    0.042294
 18    0.041993
 21    0.040337
 15    0.040187
 35    0.039735
 17    0.039735
 20    0.037929
 38    0.037628
 37    0.036273
 36    0.035671
 19    0.035370
 34    0.033414
 39    0.028447
 40    0.027092
 Name: date, dtype: float64,
 'language': hungarian        0.145545
 finnish          0.070138
 austrian         0.069386
 romanian         0.066075
 slovakian        0.062914
 swedish          0.060807
 estonian         0.058700
 bulgarian        0.053582
 danish           0.052077
 irish            0.031457
 maltese          0.029651
 greek            0.027243
 slovene          0.026189
 belgian          0.023028
 spanish          0.021222
 dutch            0.020169
 polish           0.019717
 italian          0.019266
 french           0.019266
 luxembourgish    0.018814
 lithuanian       0.018362
 latvian          0.017008
 cypriot          0.015954
 czech            0.015653
 croatian         0.015202
 german           0.012041
 portuguese       0.010536
 Name: language, dtype: float64,
 'mobile': 0    0.546358
 1    0.453642
 Name: mobile, dtype: float64,
 'avatar_id': 790    0.005719
 793    0.005719
 4      0.005569
 792    0.005569
 5      0.005569
          ...
 414    0.000301
 410    0.000301
 505    0.000301
 537    0.000301
 409    0.000301
 Name: avatar_id, Length: 785, dtype: float64,
 'hotel_id': 827    0.013998
 71     0.013998
 915    0.013847
 370    0.013847
 395    0.013396
          ...
 374    0.003161
 769    0.003161
 856    0.003161
 139    0.003161
 681    0.003161
 Name: hotel_id, Length: 185, dtype: float64,
 'stock': 0      0.148706
 1      0.083384
 2      0.065623
 4      0.055539
 3      0.043648
          ...
 118    0.000452
 177    0.000452
 165    0.000452
 121    0.000452
 149    0.000452
 Name: stock, Length: 141, dtype: float64,
 'group': Accar Hotels              0.258429
 Yin Yang                  0.214028
 Boss Western              0.148254
 Morriott International    0.142685
 Independant               0.124172
 Chillton Worldwide        0.112432
 Name: group, dtype: float64,
 'brand': Independant         0.124172
 Safitel             0.113034
 Boss Western        0.094521
 Royal Lotus         0.085039
 Corlton             0.080674
 Ibas                0.077514
 8 Premium           0.066677
 Ardisson            0.062312
 J.Halliday Inn      0.053733
 Quadrupletree       0.047712
 Navatel             0.045906
 Morriot             0.043648
 Chill Garden Inn    0.033715
 Tripletree          0.031005
 Marcure             0.021975
 CourtYord           0.018362
 Name: brand, dtype: float64,
 'parking': 1    0.530253
 0    0.469747
 Name: parking, dtype: float64,
 'pool': 0    0.82059
 1    0.17941
 Name: pool, dtype: float64,
 'children_policy': 0    0.897200
 1    0.086093
 2    0.016707
 Name: children_policy, dtype: float64}