In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="darkgrid")

In [2]:
hotels = pd.read_csv('../data/features_hotels.csv')
test_set = pd.read_csv('../data/test_set.csv')
test_set = test_set.merge(hotels, on=['hotel_id','city'])
N = len(test_set)

In [12]:
test_set.head()

,index,order_requests,city,date,language,mobile,avatar_id,hotel_id,stock,group,brand,parking,pool,children_policy
0,0,1,vilnius,21,romanian,0,1,161,46,Boss Western,J.Halliday Inn,1,0,0
1,9,2,vilnius,18,romanian,0,1,161,36,Boss Western,J.Halliday Inn,1,0,0
2,254,30,vilnius,20,romanian,1,12,161,44,Boss Western,J.Halliday Inn,1,0,0
3,263,31,vilnius,18,romanian,1,12,161,36,Boss Western,J.Halliday Inn,1,0,0
4,272,32,vilnius,16,bulgarian,0,12,161,30,Boss Western,J.Halliday Inn,1,0,0

In [13]:
test_set.describe()

,index,order_requests,date,mobile,avatar_id,hotel_id,stock,parking,pool,children_policy
count,6644.000000,6644.000000,6644.000000,6644.000000,6644.000000,6644.000000,6644.000000,6644.000000,6644.000000,6644.000000
mean,3321.500000,419.312763,15.201084,0.453642,381.219597,472.193709,23.766105,0.530253,0.179410,0.119506
std,1918.101926,246.445963,13.783346,0.497884,243.526271,280.681105,32.582240,0.499121,0.383724,0.372369
min,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1660.750000,202.000000,3.000000,0.000000,171.000000,252.000000,2.000000,0.000000,0.000000,0.000000
50%,3321.500000,415.500000,15.000000,0.000000,381.000000,449.000000,8.000000,1.000000,0.000000,0.000000
75%,4982.250000,636.000000,21.000000,1.000000,589.250000,702.000000,33.000000,1.000000,0.000000,0.000000
max,6643.000000,844.000000,40.000000,1.000000,794.000000,995.000000,199.000000,1.000000,1.000000,2.000000

In [4]:
def getProps(colname, length = N):
    return test_set[colname].value_counts()/N

In [5]:
proportions = {}
for i in test_set.columns:
    proportions[i] = getProps(i)

In [36]:
def generate(eps = .9):
    list_city = ['amsterdam', 'copenhagen', 'madrid', 'paris', 'rome', 'sofia', 'valletta', 'vienna' ,'vilnius']
    list_lang = ['austrian', 'bulgarian', 'chypriot', 'croatian', 'czech', 'danish', 'dutch', 'estonian', 'finnish', 'french', 'german', 'greek', 'hungarian', 'irish', 'italian', 'latvian', 'lithuanian', 'luxembourgish', 'maltese', 'polish', 'portuguese', 'romanian', 'slovakian', 'slovene', 'spanish','swedish']
    print(len(list_city))
    print(len(list_lang))
    if np.random.uniform() <= eps :
        date = np.random.choice(proportions['date'].index.to_numpy(), 1, p = proportions['date'].to_numpy())[0]
        city = np.random.choice(proportions['city'].index.to_numpy(), 1, p = proportions['city'].to_numpy())[0]
        lang = np.random.choice(proportions['language'].index.to_numpy(), 1, p = proportions['language'].to_numpy())[0]
        mobile = np.random.choice(proportions['mobile'].index.to_numpy(), 1, p = proportions['mobile'].to_numpy())[0]
    else :
        date = np.random.choice(range(45))
        city = np.random.choice(list_city)
        lang = np.random.choice(list_lang)
        mobile = np.random.choice([0,1])
    return lang, city, str(mobile), str(date)

In [7]:
generate()

('estonian', 'valletta', '1', '2')

In [8]:
np.random.uniform()

0.8742694619535097

In [9]:
proportions['language']

hungarian        0.145545
finnish          0.070138
austrian         0.069386
romanian         0.066075
slovakian        0.062914
swedish          0.060807
estonian         0.058700
bulgarian        0.053582
danish           0.052077
irish            0.031457
maltese          0.029651
greek            0.027243
slovene          0.026189
belgian          0.023028
spanish          0.021222
dutch            0.020169
polish           0.019717
french           0.019266
italian          0.019266
luxembourgish    0.018814
lithuanian       0.018362
latvian          0.017008
cypriot          0.015954
czech            0.015653
croatian         0.015202
german           0.012041
portuguese       0.010536
Name: language, dtype: float64

In [10]:
np.random.choice(proportions['language'].index.to_numpy(), 1, p = proportions['language'].to_numpy())

array(['hungarian'], dtype=object)

In [27]:
df2 = test_set.groupby(['avatar_id','order_requests'])

In [28]:
df2.head()

,index,order_requests,city,date,language,mobile,avatar_id,hotel_id,stock,group,brand,parking,pool,children_policy
0,0,1,vilnius,21,romanian,0,1,161,46,Boss Western,J.Halliday Inn,1,0,0
1,9,2,vilnius,18,romanian,0,1,161,36,Boss Western,J.Halliday Inn,1,0,0
2,254,30,vilnius,20,romanian,1,12,161,44,Boss Western,J.Halliday Inn,1,0,0
3,263,31,vilnius,18,romanian,1,12,161,36,Boss Western,J.Halliday Inn,1,0,0
4,272,32,vilnius,16,bulgarian,0,12,161,30,Boss Western,J.Halliday Inn,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6604,2712,338,rome,40,greek,1,772,769,42,Accar Hotels,Ibas,1,0,0
6607,3119,392,rome,39,swedish,1,645,769,40,Accar Hotels,Ibas,1,0,0
6608,3206,401,rome,39,estonian,1,519,769,40,Accar Hotels,Ibas,1,0,0
6612,4149,523,rome,40,hungarian,1,646,769,42,Accar Hotels,Ibas,1,0,0
6618,5186,662,rome,39,slovene,1,771,769,40,Accar Hotels,Ibas,1,0,0

In [48]:
df2
test = df2.toframe()
test
#[['city','date','language','mobile']].to_csv('TestSet_Request.csv')

AttributeError: 'DataFrameGroupBy' object has no attribute 'toframe'

In [23]:
df3 = test_set.groupby(['avatar_id','order_requests','language','city','mobile'])

In [24]:
df3.head()

,index,order_requests,city,date,language,mobile,avatar_id,hotel_id,stock,group,brand,parking,pool,children_policy
0,0,1,vilnius,21,romanian,0,1,161,46,Boss Western,J.Halliday Inn,1,0,0
1,9,2,vilnius,18,romanian,0,1,161,36,Boss Western,J.Halliday Inn,1,0,0
2,254,30,vilnius,20,romanian,1,12,161,44,Boss Western,J.Halliday Inn,1,0,0
3,263,31,vilnius,18,romanian,1,12,161,36,Boss Western,J.Halliday Inn,1,0,0
4,272,32,vilnius,16,bulgarian,0,12,161,30,Boss Western,J.Halliday Inn,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6604,2712,338,rome,40,greek,1,772,769,42,Accar Hotels,Ibas,1,0,0
6607,3119,392,rome,39,swedish,1,645,769,40,Accar Hotels,Ibas,1,0,0
6608,3206,401,rome,39,estonian,1,519,769,40,Accar Hotels,Ibas,1,0,0
6612,4149,523,rome,40,hungarian,1,646,769,42,Accar Hotels,Ibas,1,0,0
6618,5186,662,rome,39,slovene,1,771,769,40,Accar Hotels,Ibas,1,0,0

In [26]:
df3[['order_requests','language','city','mobile']].head()

      order_requests   language     city  mobile
0                  1   romanian  vilnius       0
1                  2   romanian  vilnius       0
2                 30   romanian  vilnius       1
3                 31   romanian  vilnius       1
4                 32  bulgarian  vilnius       0
...              ...        ...      ...     ...
6604             338      greek     rome       1
6607             392    swedish     rome       1
6608             401   estonian     rome       1
6612             523  hungarian     rome       1
6618             662    slovene     rome       1

[3801 rows x 4 columns]